@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800;900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.rightScreen,
.leftScreen {
  position: fixed !important;
  top: 0px !important;
}

.rightScreen div,
.leftScreen div {
  width: 1200px;
  height: 850px;
  border: none;
  position: absolute;
}

.leftButton {
  position: fixed !important;
  top: 0px !important;
}

.leftButton .button {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 14px;
  text-decoration: none;
}

.loading-page {
  position: fixed;
  background: red;
}
